.userform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .userform > div {
    margin-bottom: 10px;
  }
  
  .label {
    margin-right: 20px;
    color: #e2e2ff;
  }
  
  input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
  }
  
  .btn {
    color: #e2e2ff;
    font-size: 16px;
    background-color: #012332;
    height: 35px;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
  }
  
  .btn:hover {
    box-shadow: 0px 2px 5px 0px #4156bdbd;
  }
  
  ::placeholder {
    color: rgba(169, 169, 169, 0.514);
    font-size: 12px;
  }
  