ul {
    padding: 0;
  }
  
  .list {
    list-style: none;
    padding: 10px;
    min-width: 300px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #c0c0c0bf;
  }
  
  .icon {
    display: block;
    cursor: pointer;
    margin: 14px;
  }
  
  .green {
    color: green;
    margin-right: 10px;
  }
  
  .gray {
    color: gray;
  }
  